canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#box
{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    text-align: center;
}

form
{
    border-color: black;
    border-style: solid;
    display: inline-block;
    padding: 40px;
}