@{
    ViewData["Title"] = "Home Page";
}
@{ 
    Layout = "~/Views/Shared/_LayoutI.cshtml";
}
<div id="back">
    <div class="text-center">
        <h1 class="display-4">Welcome to Wandering Warlocks!</h1>
        <p>2D Top-Down Shooter made for Browsers</p>
        <p>Please log in to play</p>
    </div>
</div>