<!--
    Default Privacy page, kept in to be built in case cookies which store personal data are added (apart from default Identity ones)
-->

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
