@{
    Layout = "~/Views/Shared/_LayoutI.cshtml";
}

<h1>How to Play</h1>

<div class="text-center" style="padding-top:2em; padding-bottom: 4em">
    <h2>Use WASD or Arrow Keys to move</h2>
    <img src="~/img/8.gif" />
    <h2>Left Click to shoot</h2>
    <img src="~/img/9.gif" />
    <h2>Shoot at enemy players to get kills</h2>
    <img src="~/img/10.gif" />
    <h2>Climb up the kill leaderboard</h2>
</div>