<!--
    View for the game page, with data injection used for User management
-->

@using Microsoft.AspNetCore.Identity 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
}

<noscript>Please enable javascript to play this Game.</noscript> <!--In case client doesn't have JS enabled-->
<p id="name" hidden>@User.Identity.Name</p> <!--Putting the username in a hidden element to be accessed by the JS-->
<audio id="music" loop> <!--Audio to be played as background music during the game-->
    <source src="https://warlockstorageacc.blob.core.windows.net/music/musicMagic.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
